<td>{{teammember.firstName}}</td>
<td>{{teammember.lastName}}</td>
<td>{{teammember.active}}</td>
<td>{{teammember.resource}}</td>
<td>{{targetNewValue}}</td>
<td>{{hoursWorked}}</td>
<td>{{input value=targetValue}}<button {{action "updateTarget"}}>Save</button></td>