<td class='worked-enough-{{workedEnough}}'>{{teammember.firstName}}</td>
<td class='worked-enough-{{workedEnough}}'>{{teammember.lastName}}</td>
<td class='worked-enough-{{workedEnough}}'>{{teammember.active}}</td>
<td class='worked-enough-{{workedEnough}}'>{{teammember.resource}}</td>
<td class='worked-enough-{{workedEnough}}'>{{targetNewValue}}</td>
<td class='worked-enough-{{workedEnough}}'>{{hoursWorked}}</td>
<td>{{input value=targetValue}}<button {{action "updateTarget"}}>Save</button></td>